<div id="export-results" class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
    Export <span class="caret"></span>
  </button>

  <ul class="dropdown-menu">
    <li><%= link_to "Export to CSV", catalog_export_path(rows: @response.total, format: :csv, q: params[:q]) %></li>
    <li><%= link_to "Export to XML", catalog_export_path(rows: @response.total, format: :xml, q: params[:q]) %></li>
  </ul>
</div>
