<div id="content">
  <div class="wrap">
    <h2><%= application_name %> </h2>
    <hr />

    <p>The American Congress Digital Archives Portal is a collaborative, non-partisan project that makes congressional archives available online, bringing the history of the People's Branch to the people.</p>

    <div style="clear:both;"></div>
    <a class="button" href="/?search_field=all_fields&amp;q=">
      <i class="fa fa-hand-o-right"></i>
      Browse The Collection
    </a>
  </div>
</div>