<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ACDAP Slider</title>
  </head>
  <body>
    <div id="carouselExampleIndicators" class="carousel carousel-fade bg-dark rounded" data-bs-ride="carousel">
      <ol class="carousel-indicators">
        <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></li>
        <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></li>
        <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></li>
        <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"></li>
      </ol>
      <div class="carousel-inner rounded">
        <div class="carousel-item active">
          <div class="p-5 bg-dark bg-opacity-25 h-100" style="background-image: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)), url('https://images.unsplash.com/photo-1600870003315-e1c945702030?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80'); min-height:40em; background-repeat: no-repeat; background-size: cover; background-position: center;">
            <div class="p-5">
              <h1 class="display-4 text-white fw-bold">American Congress Digital Archives Portal</h1>
              <hr class="my-4 text-white border-white border-1 opacity-100">
              <p class="text-white fs-4 text-center"><strong>A collaborative, non-partisan project that makes congressional archives available online.</strong></p>
              <p class="lead text-center">
                <a class="btn btn-danger btn-lg" href="/about" role="button">Learn more</a>
              </p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
        <div class="p-5 bg-dark bg-opacity-50 h-100" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('https://i.imgur.com/LlUfX3k.png'); min-height:40em; background-repeat: no-repeat; background-size: cover; background-position: center;">
          <div class="p-5">
            <h1 class="display-4 text-white fw-bold">International Affairs and Foreign Policy</h1>
            <hr class="my-4 my-4 text-white border-white border-1 opacity-100">
            <p class="text-white fs-4 text-center"><strong>Investigate Congress’ role in international affairs and foreign policy through materials related to the Panama Canal Treaty, the 1982 Lebanon War, and efforts to gain U.S. acknowledgement of the Armenian genocide.
            </strong></p>
            <p class="lead text-center">
              <a class="btn btn-danger btn-lg" href="https://congressarchives.org/?f%5Bsubject_policy_sim%5D%5B%5D=International+Affairs" role="button">View Collection</a>
            </p>
          </div>
        </div>
        </div>
        <div class="carousel-item">
        <div class="p-5 bg-dark bg-opacity-50 h-100" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('https://i.imgur.com/VXgVMwr.png'); min-height:40em; background-repeat: no-repeat; background-size: cover; background-position: top;">
          <div class="p-5">
            <h1 class="display-4 text-white fw-bold">Women’s Suffrage and the 19th Amendment</h1>
            <hr class="my-4 my-4 text-white border-white border-1 opacity-100">
            <p class="text-white fs-4 text-center"><strong>Examine women’s suffrage, the 19th Amendment, and Congress as a representative body through constituent correspondence.</strong></p>
            <p class="lead text-center">
              <a class="btn btn-danger btn-lg" href="https://congressarchives.org/?f%5Bsubject_topical_sim%5D%5B%5D=Women--Suffrage" role="button">View Collection</a>
            </p>
          </div>
        </div>
        </div>
        <div class="carousel-item">
        <div class="p-5 bg-dark bg-opacity-50 h-100" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('https://i.imgur.com/EycCWoa.png'); min-height:40em; background-repeat: no-repeat; background-size: cover; background-position: top;">
          <div class="p-5">
            <h1 class="display-4 text-white fw-bold">American Prisoners During the Vietnam War</h1>
            <hr class="my-4 my-4 text-white border-white border-1 opacity-100">
            <p class="text-white fs-4 text-center"><strong>Explore efforts in Congress to bring home American Prisoners of War and Missing in Action during the Vietnam War.<strong></p>
            <p class="lead text-center">
              <a class="btn btn-danger btn-lg" href="https://congressarchives.org/?f%5Bsubject_topical_sim%5D%5B%5D=Vietnam+War%2C+1961-1975&q=&search_field=all_fields" role="button">View Collection</a>
            </p>
          </div>
        </div>
        </div>
      </div>
    </div>
  </body>
</html>
