<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <title>ACDAP Slider</title>
  </head>
  <body>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators" style="padding-bottom: 20px; padding-left: 120px;">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
      <div class="jumbotron" style="background-image: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)), url('https://images.unsplash.com/photo-1600870003315-e1c945702030?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80'); min-height:40em; background-repeat: no-repeat; background-size: cover; background-position: center;">
      <h1 class="display-4" style="color:white;">American Congress Digital Archives Portal</h1>
      <hr class="my-4">
      <p style="color:white;"><strong>A collaborative, non-partisan project that makes congressional archives available online.</strong></p>
      <p class="lead">
        <a class="btn btn-danger btn-lg" style="overflow:auto" href="/about" role="button">Learn more</a>
      </p>
    </div>
      </div>
      <div class="carousel-item">
      <div class="jumbotron" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('https://i.imgur.com/LlUfX3k.png'); min-height:40em; background-repeat: no-repeat; background-size: cover; background-position: center;">
      <h1 class="display-4" style="color:white">International Affairs and Foreign Policy</h1>
      <hr class="my-4">
      <p style="color:white"><strong>Investigate Congress’ role in international affairs and foreign policy through materials related to the Panama Canal Treaty, the 1982 Lebanon War, and efforts to gain U.S. acknowledgement of the Armenian genocide.
      </strong></p>
      <p class="lead">
        <a class="btn btn-danger btn-lg" style="overflow:auto" href="https://congressarchivesdev.lib.wvu.edu/?f%5Bsubject_policy_sim%5D%5B%5D=International+Affairs" role="button">View Collection</a>
      </p>
    </div>
      </div>
      <div class="carousel-item">
      <div class="jumbotron" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('https://i.imgur.com/VXgVMwr.png'); min-height:40em; background-repeat: no-repeat; background-size: cover; background-position: top;">
      <h1 class="display-4" style="color:white;">Women’s Suffrage and the 19th Amendment</h1>
      <hr class="my-4">
      <p style="color:white;"><strong>Examine women’s suffrage, the 19th Amendment, and Congress as a representative body through constituent correspondence.</strong></p>
      <p class="lead">
        <a class="btn btn-danger btn-lg" style="overflow:auto" href="https://congressarchivesdev.lib.wvu.edu/?f%5Bsubject_topical_sim%5D%5B%5D=Women--Suffrage" role="button">View Collection</a>
      </p>
    </div>
      </div>
      <div class="carousel-item">
      <div class="jumbotron" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('https://i.imgur.com/EycCWoa.png'); min-height:40em; background-repeat: no-repeat; background-size: cover; background-position: top;">
      <h1 class="display-4" style="color:white;">American Prisoners During the Vietnam War</h1>
      <hr class="my-4">
      <p style="color:white;"><strong>Explore efforts in Congress to bring home American Prisoners of War and Missing in Action during the Vietnam War.<strong></p>
      <p class="lead">
        <a class="btn btn-danger btn-lg" style="overflow:auto" href="https://congressarchivesdev.lib.wvu.edu/?f%5Bsubject_topical_sim%5D%5B%5D=Vietnam+War%2C+1961-1975&q=&search_field=all_fields" role="button">View Collection</a>
      </p>
    </div>
      </div>
    </div>
  </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script>
  </body>
</html>