<div id="content">
	<div class="wrap">
		<h2>Collections</h2>
		<hr />

		<h3>West Virginia University Libraries</h3>
		<hr />

		<p><b>Harley Martin Kilgore (1893-1956), Senator, Papers</b></p>
		<p>Senator Harley Martin Kilgore (b. 1893) served in the U.S. Senate from 1940-1956. He served on the Special Committee Investigating the National Defense Program, popularly known as the Truman Committee, which investigated defense spending during World War II. It was one of the most productive investigating committees in history and saved millions of dollars. Kilgore headed up numerous investigations, many of which related to steel production and ship building. The files contain hearings, memoranda, correspondence, and photographs.</p>
		<p><a href="https://archives.lib.wvu.edu/repositories/2/resources/4778">View Harley Martin Kilgore finding aid</a></p>
		<br>
		<p><b>Arch A. Moore Jr. papers</b></p>
		<p>Arch Alfred Moore Jr. (b. 1923) served two consecutive terms as Governor of West Virginia from 1969-1977 and a third term from 1985-1989. He was an unsuccessful candidate for reelection for governor in 1988. Previously, he was elected as a Republican to five terms in the United States House of Representatives, serving from January 3, 1957-January 3, 1969. He was not a candidate for reelection to the Ninety-first Congress in 1968. He died on January 7, 2015, in Charleston, WV. The Arch A. Moore Jr. papers document his service as governor of West Virginia and in the U.S. Congress.
		</p>
		<p><a href="https://archives.lib.wvu.edu/repositories/2/resources/965">View Arch A. Moore Jr. finding aid</a></p>
		<br>
		<p><b>Howard Sutherland, Senator, Women's Suffrage Papers</b></p>
		<p>Howard Sutherland (b. 1865) served a short time in the U.S. Senate (1916-1923), and served as chairman of the Committee on the Census and Committee on Enrolled Bills. He received a considerable amount of correspondence related to women’s suffrage, including the Bristow-Mondell House Resolution and the Susan B. Anthony Amendment. Correspondents are individuals and organizations located in West Virginia and nationally.</p>
		<p><a href="https://archives.lib.wvu.edu/repositories/2/resources/571">View Howard Sutherland finding aid</a></p>
		<br>
		<h3>Robert J. Dole Institute of Politics </h3>
		<hr />

		<p><b>Dole Archives Vertical File, 1945-2005</b></p>
		<p>The Dole Archives Vertical File serves as a source of basic background information on a wide variety of people, subjects, events, pieces of legislation, campaigns, and organizations represented in the Dole collections. It contains a wide variety of document types like newsclippings and printouts of online articles, pamphlets, press releases, speeches, correspondence, bills, and copies from the collection. Organized alphabetically, the Vertical File is intended to be a quick reference tool that provides a brief introduction to a topic.</p>
		<p><a href="https://dolearchivecollections.ku.edu/index.php?p=collections/controlcard&id=77">View Dole Archives finding aid</a></p>
		<br>
		<p><b>Dole Photograph Collection, 1900-2011</b></p>
		<p>The Archive of the Robert J. Dole Institute of Politics houses approximately 25,000 photographs relating to the personal life and political career of Robert J. Dole (1923- ). The photographs range in size from wallet-size to oversize and include both color and black and white. The photo collection spans the dates circa 1900-2011 and contains images relating to Robert J. Dole's childhood and youth, living family members and ancestors, military service, legal career as Russell Kansas County Attorney, four campaigns for the U.S. House of Representatives, the eight years spent as congressman from Kansas' 6th and later 1st Congressional Districts (1961-1968), his subsequent 28 year Senate career (1968-1996), and the post-Senate years. Other individuals who appear in the photographs include American presidents and foreign heads of state, senators, legislators and dignitaries, as well as constituents and staffers. While the majority of the images in the photograph collection were donated by Senator Dole, several important smaller groups of personal photos were donated by his sisters, Norma Jean (Dole) Steele and Gloria (Dole) Nelson and friends of the Dole family. In addition to photographic prints, collections include negatives, slides, and digital images of Institute events.
		</p>
		<p><a href="https://dolearchivecollections.ku.edu/index.php?p=collections/controlcard&id=47">View Dole Photograph Collection finding aid</a></p>
		<br>
		<p><b>Robert J. Dole Senate Papers-Constituent Relations, 1969-1996</b></p>
		<p>Constituent Relations is a collective term describing those functions of the Senator's office that primarily dealt with the requests of Kansans. This public relations aspect deals with more than just constituent contacts, though. Contacts between the Senator's office and citizens of other states, business leaders, lobbyists, and politicians are also described here. In addition to the 7 series described below, Constituent Relations also contains Senator Dole's casework files. These document the Senator's work on behalf of constituents who have problems with federal agencies. These files have been retained, but have not been processed or described in the database. Because of the amount of personal information contained in these records, they are restricted indefinitely. As a unit, the Constituent Relations files illuminate the ways in which the Senator served his constituency and the staff responsible for carrying that workload </p>
		<p><a href="https://dolearchivecollections.ku.edu/index.php?p=collections/controlcard&id=31">View Dole Senate Papers-Constituent Relations finding aid</a></p>
		<br>
		<p><b>Robert J. Dole Senate Papers-Press Related Materials, 1961-1996</b></p>
		<p>Clippings, manuscripts, press releases, correspondence and newsletters (114 boxes) document those functions of the Dole offices related to the media, 1961-1996. Arranged in 10 series - Columns, Journal Articles, Media Activities Plan, Newsletters, Op-Eds, Press Releases, Speeches, Subject Files, TV/Radio Files, and Newspaper Clippings - the records illuminate the communications of Senator Dole with constituents through newsletters (2 boxes), newspaper columns (1 box), and press releases (33 boxes). Records contained in Subject Files (28 boxes) concern subjects of interest to the Senator and his offices from 1964 to 1996, and also cover interactions between Dole's press secretaries and members of the media. The Newspaper Clippings series (36 boxes) includes articles and clippings relating to Bob Dole's extensive time in office, covering the years 1969 through 1996.</p>
		<p><a href="https://dolearchivecollections.ku.edu/index.php?p=collections/controlcard&id=14">View Dole Senate Papers-Press Related Materials finding aid</a></p>
		<br>
		<p><b>Robert J. Dole Speeches Collection, 1958-1996</b></p>
		<p>The Robert J. Dole Speeches Collection, which spans the years 1958-1996, consists of speeches, remarks, talking points, briefing materials, correspondence, photographs, invitations, newspapers and clippings, itineraries, research, and travel files from Senator Bob Dole’s career in the U.S. House of Representatives and U.S. Senate.</p>
		<p><a href="https://dolearchivecollections.ku.edu/index.php?p=collections/controlcard&id=52">View Dole Speeches finding aid</a></p>
		<br>
		<p><b>VIP Letters, 1960-2008</b></p>
		<p>The VIP Letters collection consists of letters that were removed from the Dole papers. With few exceptions, the letters were written to Senator Dole from notable public figures, including U.S. Presidents (about 66% of the letters), Congresspeople, foreign officials, and other distinguished persons. The contents of the letters covers a wide range of topics, including current events, personal notes, responses to letters from Dole, and more.</p>
		<p><a href="https://dolearchivecollections.ku.edu/index.php?p=collections/controlcard&id=55">View VIP Letters finding aid</a></p>
		<br>
		<h3>Robert C. Byrd Center for Congressional History and Education</h3>
		<hr />

		<p><b>Robert C. Byrd Congressional Papers</b></p>
		<p>The Robert C. Byrd Congressional Papers Collection contains the documentary, photographic, ephemeral, and audio/visual record of Robert C. Byrd's life and public career in the United States Senate and House of Representatives, and the West Virginia Senate and House of Representatives. Ranging in date from 1917 to 2010, the bulk of the collection focuses on Senator Byrd's nine terms in the United States Senate (1959-2010).</p>
		<p><a href="https://www.byrdcenter.org/robert-c-byrd-congressional-papers.html">View Robert C. Byrd finding aid</a></p>
		<br>
		<p><b>Harley O. Staggers, Sr. Congressional Papers</b></p>
		<p>The Harley O. Staggers, Sr. Congressional Papers Collection contains the documentary, photographic, and audio-visual record of Harley O. Staggers, Sr.'s life and public career in the United States House of Representatives. The entire collection ranges in date from 1916 through 2002, while the bulk of the records cover the period of Congressman Staggers' sixteen terms in the United States House of Representatives from 1949 to 1980.</p>
		<p><a href="https://www.byrdcenter.org/harley-o-staggers-sr-congressional-papers.html">View Harley O. Staggers, Sr.finding aid</a></p>

	</div>	
</div>