<div id="content">
	<div class="wrap">
		<h2>Contribute</h2>
		<hr />

		<h3>Repositories</h3>
		<hr />

		<p>As the Portal grows to become the definitive place to begin research in congressional archives, we want to help users find valuable collections from institutions in every state. 
		The more materials we add to the Portal, the more useful it will be for researchers and educators. If your institution holds the personal archives of Members of Congress, and you’re interested in submitting materials to the Portal, please contact the Project Director at <a href="mailto:danielle.emerling@mail.wvu.edu">danielle.emerling@mail.wvu.edu</a>. Interested institutions should also review the project <a href="https://researchrepository.wvu.edu/faculty_publications/3090/">white paper</a> for more information about content priorities. 
		</p>
		<h3>Scholars and Educators</h3>
		<hr />

		<p>As we continue to build the portal, we hope to support scholarship and instruction using archival materials available on the site. If you have suggestions, requests, or questions, please contact the Project Director at <a href="mailto:danielle.emerling@mail.wvu.edu">danielle.emerling@mail.wvu.edu</a>.</p>
	</div>	
</div>