<div id="content">
	<div class="wrap">
		<h2>American Congress Digital Archives Portal Scavenger Hunt</h2>
		<hr/>

		<p>This scavenger hunt aims to introduce students to the American Congress Digital Archives Portal. There are two versions of the scavenger hunt available: an accessible version using Microsoft Word and a Google Forms version, in addition to an accessible Teacher Guide in Microsoft Word.
If using the Google Forms version, students will be prompted to make a copy of the scavenger hunt using Google Forms. The first section will “train” participants on how the site is structured, the second section will ask participants to apply what they have learned, and the third will challenge students to use the portal independently.  
  
Enjoy exploring our archives and learning the skills of practicing historians and archivists! 
		</p>
		<h3>ACDAP Scavenger Hunt (Grades 9-12)</h3>
		<hr />

		<p><a href="/downloads/Teacher%20Guide_%20Grade%209-12%20Scavenger%20Hunt.docx" download>Teacher Guide (Microsoft Word)</a></p>
		<p><a href="https://docs.google.com/forms/d/1XM0FRmtxad5mQe6SRNXl4TFWjxkvs4g0NR1Bxrl49dc/copy" target="_blank" rel="noopener">Scavenger Hunt (Google Forms; non-accessible)</a></p>
		<p><a href="/downloads/ACDAP%209-12%20Scavenger%20Hunt.docx" download>Scavenger Hunt (Simple Microsoft Word version; accessible)</a></p>

<h3>ACDAP Scavenger Hunt (Grades 6-8)</h3>
		<p><a href="/downloads/Teacher%20Guide_%20Grade%206-8%20Scavenger%20Hunt.docx" download>Teacher Guide (Microsoft Word)</a></p>
		<p><a href="https://docs.google.com/forms/d/1VMk8hnM8Zm2rZ5R9Wdfpm8DhS86MwJQT4T_mQ0YCRDE/copy" target="_blank" rel="noopener">Scavenger Hunt (Google Forms; non-accessible)</a></p>
		<p><a href="/downloads/ACDAP%206-8%20Scavenger%20Hunt%20(Accessible).docx" download>Scavenger Hunt (Simple Microsoft Word version; accessible)</a></p>
	</div>	
</div>