<div id="content">
	<div class="wrap">
		<h2>Partners</h2>
		<hr />

		<ul>
			<li>
				<%= image_tag("wvu_libraries.png", alt: "WVULibraries", title: "WVU Libraries", style: "max-width: 450px") %>
				<p><br>The Modern Congressional and Political Papers Collection at the West Virginia University Libraries' West Virginia & Regional History Center focuses primarily on documentation of national and state policy and politics since about World War II to the present. This includes documentation of the modern U.S. Congress, the policy process, and the political landscape at the state and national levels. The unit collects, preserves, and makes available the papers of members of Congress, political parties, and state and local political actors. Strengths of the collecting area include the papers of Senator John D. (Jay) Rockefeller IV, Congressman Nick Joe Rahall II, Congressman Harley O. Staggers Sr., Senator Matthew Mansfield Neely, Senator Harley Martin Kilgore, and Congressman and Governor Arch A. Moore Jr. </p>
			</li>
			<br>
			<li>
				<%= image_tag("dole-wide.png", alt: "Dole Institute", title: "Dole Institute", style: "max-width: 450px") %>
				<p><br>The Dole Institute of Politics’ mission is to promote political and civic participation as well we civil discourse in a bipartisan, philosophically balanced manner. Senator Bob Dole’s legacy at the University of Kansas was established in 1997 upon the gift of his papers to KU. The Institute was dedicated in 2003 and became home to the Senator Elizabeth Dole legacy upon the gift of her papers in 2017. The Dole Institute is home to a museum dedicated to the legacy of Senator Bob Dole, featuring the largest stained-glass American flag in the world, a memory wall dedicated to Kansas veterans, and the Elizabeth Dole Gallery and Reading Room. The Robert and Elizabeth Dole Archive and Special Collections department is responsible for collections, research, and exhibits at the Dole Institute. Both Senators’ personal papers and congressional materials are publicly available for research, attracting scholars from all over the world.</p>
			</li>
			<br>
			<li>
				<%= image_tag("rcb_center.jpg", alt: "ByrdCenter", title: "ByrdCenter", style: "max-width: 450px") %>
				<p><br>The Robert C. Byrd Center for Congressional History and Education advances representative democracy by promoting a better understanding of the United States Congress and Constitution through programs and research that engage citizens. Established in 2002, the center preserves the papers of Senator Robert C. Byrd and Representatives Harley O. Staggers, Sr., Harley O. Staggers, Jr., Robert H. Mollohan, and Alan B. Mollohan, all of whom represented the state of West Virginia in the United States Congress between 1949 and 2011. In addition to hosting scholars and researchers, the center utilizes these collections to develop civics education resources and conducts teacher training.</p>
			</li>
			<br>
			<li>
				<%= image_tag("neh.jpg", alt: "NEH", title: "National Endowment For The Humanities", style: "max-width: 450px") %>
				<p><br>Funding for this project is provided by the National Endowment for the Humanities.</p>
			</li>
		</ul>				
	</div>	
</div>
