<div id="content">
	<div class="wrap">
		<h2>Policies</h2>
		<hr />

		<h3>Copyright</h3>
		<hr />

		<p>The partner institutions in the American Congress Digital Archives Portal project make every effort to ensure they have appropriate rights to provide access to content, including those granted under sections 107 (“Fair Use”) and 108 (preservation) of the U.S. Copyright Law.</p>
		<p>Materials produced by public servants (e.g., Members of Congress and staff) while carrying out official duties are not covered by copyright. Government reports, such as Congressional Research Service reports, and official House, Senate, and White House photographs are also not covered by copyright.</p>
		<p>In some cases where the rights are unclear, the project may still provide access to the material.</p>
		<p>Parties who have questions or who wish to contest the use of specific materials may contact the Project Director. The communication should:</p>
		<ul>
			<li>Include a physical or electronic signature of the copyright owner or an agent authorized to act on behalf of the owner; </li>
			<li>Identify the material that is being infringed and information reasonably sufficient to allow the project to locate the material;</li>
			<li>Include contact information for the copyright owner or an agent. </li>
		</ul>
		<p>The Project Director will respond to all correspondence in a timely fashion. If the project team is unable to determine in a timely fashion whether the use in question is in compliance with copyright law, the project team will cease providing access while further deliberations are undertaken. Depending on these determinations, the project team may remove the material in question from the portal.</p>

		<h3>Privacy</h3>
		<hr />

		<p>The American Congress Digital Archives Portal project strives to balance safeguarding privacy and facilitating access.</p>
		<p>Individuals’ personal information is often found in congressional archives, especially as a reflection of the representative function of congressional offices. Constituent issue mail is one of the best examples, but certainly not the only example, of materials containing personal information (e.g., name, address, phone number, etc.). These materials also contribute important perspectives--perspectives from ordinary Americans not often found in the archives.</p>
		<p>To strike this balance, the project requires that personal information be redacted from materials if the materials are less than 100 years old. The 100-year rule is consistent with the <u>Issue Brief on Confidentiality of Private Information Held in Records of the Federal Government’s Executive Agencies</u>, approved by the Society of American Archivists Council, 2017.</p>
		<p>Parties who have questions or who wish to contest the use of specific materials may contact the Project Director.</p>
	</div>	
</div>
