<!-- Collection Header -->
<div class="collection-header" role="banner" aria-label="collection banner">
  <div class="wrap d-block">
  <a href="/"> <div id="logo"></div></a>
      <h1 class="collection-header-title px-4 my-2">
          <a href="/"> <%= application_header %> </a>
      </h1>
      <%= render :partial=>'shared/user_util_links' %>
  </div>
</div>
