<div class="partners">
    <div style="clear:both;"></div>
    <ul>
        <li>
            <%= image_tag("neh.jpg", alt: "NEH", title: "National Endowment For The Humanities", style: "max-height: 55px") %> <P>Funding for this project is provided by the National Endowment for the Humanities</p>
        </li>
    </ul>
</div>