<div class="partners">
    <div style="clear:both;"></div>
    <ul>
        <li>
            <%= image_tag("neh.jpg", alt: "NEH", title: "National Endowment For The Humanities", style: "max-height: 75px") %> 
        </li>
        <li>
            <%= image_tag("ACSC.png", alt: "ACSC", title: "ACSC", style: "max-height: 75px") %> 
        </li>
        <li>
            <%= image_tag("LYARASIS.png", alt: "LYARASIS", title: "LYARASIS", style: "max-height: 75px") %> 
        </li>
    </ul>
</div>