<div class="partners">
    <div style="clear:both;"></div>
    <ul>
        <li>
        <%= image_tag("wvu_libraries.png", alt: "WVULibraries", title: "WVU Libraries", style: "max-height: 50px") %>
        </li>
        <li>
            <%= image_tag("dole-wide.png", alt: "Dole Institute", title: "Dole Institute", style: "max-height: 45px") %>
        </li>
        <li>
            <%= image_tag("rcb_center.jpg", alt: "ByrdCenter", title: "ByrdCenter", style: "max-height: 60px") %>
        </li>
        <li>
            <%= image_tag("neh.jpg", alt: "NEH", title: "National Endowment For The Humanities", style: "max-height: 55px") %>
        </li>
    </ul>
</div>