<div class="partners">
    <div style="clear:both;"></div>
    <ul>
    <li><br><P style= font-size 24px>Funding for this project is provided by<br> the National Endowment for the Humanities</p></li>
        <li>
            <%= image_tag("neh.jpg", alt: "NEH", title: "National Endowment For The Humanities", style: "max-height: 60px") %> 
            <br><P style= font-size 24px>Funding for this project is provided by the National Endowment for the Humanities</p><
        </li>
    </ul>
</div>