<div class="ms-auto user-util-links">
  <ul class="navbar-nav">
    <% if controller.class == CatalogController %>
      <%= render_nav_actions do |config, action|%>
        <li class="nav-item text-white d-block"><%= action %></li>
      <% end %>
    <% end %>
  </ul>
</div>
