<div class="user-util-links float-end">
  <ul class="navbar-nav">
    <% if controller.class == CatalogController %>
      <%= render_nav_actions do |config, action|%>
        <li class="nav-item text-white d-block"><%= action %></li>
      <% end %>
    <% end %>
    <li id="navbar-hamburger-toggle" class="nav-item text-white d-block">
      <a href="https://congressarchives.org/search_history" class="hamburger-link" style="color: inherit; text-decoration: none;">
        <div class="hamburger-icon">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </a>
    </li>
  </ul>
</div>
