/*********************************************************************
    Style overrides for Blacklight Advanced Search page
**********************************************************************/

.query-criteria .form-control {
  color: black;
}

div > ul > li > span.label-and-count > label {
  display: inherit;
  span.facet-count {
    display: contents
  }
}
