<%= form_with(url: validate_path, local: true, multipart: true) do |form| %>
  <div class="form-group">
    <%= form.label :csv_file, "Upload CSV" %>
    <%= form.file_field :csv_file, accept: ".csv" %>
    <%= form.submit "Upload" %>
  </div>
<% end %>
