/*********************************************************************
    Style overrides for Bulkrax pages
**********************************************************************/

.bulkrax-p-align {
  text-align: left;
}

.importer-form,
.exporter-form {
  margin-bottom: 80px;
  form {
    .card-body div {
      text-align: left;
      .boolean.checkbox {
        margin-left: 20px;
      }
    }
    .form-control {
      color:#333 !important;
    }
    .card-footer {
      padding-bottom: 44px;
    }
  }
}

/* Bulkrax Forms */
.importer-form, .exporter-form, .bulkrax-align-text, .accordion-item {
  .form-control {
    color: rgb(51, 51, 51)
  }
  .nav-tabs > li.active > a {
    color: #337ab7
  }
  .accordion-body, .accordion-header {
    text-align: left;
  }
  .accordion-body {
    strong {
      width: 40%;
      display: inline-block;
    }
  }
}
