<li>
  <a href="https://congressarchivesdev.lib.wvu.edu/search_history" class="navbar-link" onclick="window.location.href=this.href; return false;">
    <span class="glyphicon glyphicon-history"></span> History
  </a>
</li>